<h2 class="text-center">Cart</h2>

<section>
    <article id="carts" class="d-flex flex-wrap">
        {{#each carts}}
            <div class="card m-3" style="width: 18rem; background: #ffedbc">
                <div> {{this._id}} </div>
                <div> {{this.user_id}} </div>
                <div> {{this.product_id}} </div>
                <div> {{this.quantity}} </div>
                <div> {{this.state}} </div>
                <button type="button" class="btn btn-warning">Delete</button>
            </div>
        {{/each}}
    </article>
</section>
