{{#if user._id}}
  <h4 class="mb-4">Details of user {{user._id}}</h4>
  <p>E-mail: {{user.email}}</p>
  <p>Role: {{user.role}}</p>
  <img src="{{user.photo}}" alt="">
    <a href="/users/register">
  <button type="button" class="btn btn-success mt-4">Volver</button>
  </a>
{{else}}
  <p>User not found.</p>

{{/if}}